body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(19, 19, 56);
}



.container{
    width: 14cm;
    height: 8cm;
    border: 1px black;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 100px auto 20px;

}

h2{
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1cm;
    padding-top: 1cm;

}
img{
    height: 20px;
    width: 30px;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 12cm;
    margin-left: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 15px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;

    left: 8px;

}

.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png)
}

span{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    padding-right: 10px;
    border-radius: 50%;
}
span:hover{
    background: #f4ecec;
}

